/* body{
    background-color: rgb(18, 21, 48);
    color: #ffffff;
   } */

   body{
    background: linear-gradient(300deg, #7dd7f6, #989595, #fcf27f);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    min-height: 0vh;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

#weatherContainer {
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 100%; /* Adjusted for responsiveness */
    max-width: 1300px; 
}

#iconsContainer {
    display: flex; /* Use flexbox to arrange children in a row */
    flex-wrap: nowrap; /* Prevent wrapping to the next line */
    justify-content: space-around; /* Adjust as needed for spacing */
    align-items: center; /* Center children vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 240px;
    width: 100%; /* Adjusted for responsiveness */
    max-width: 1200px; 
}

.icons {
    flex: 0 0 calc(20% - 40px); /* Adjusted for responsiveness with margin included */
    margin: 5px;
    border-radius: 10px;
    padding: 20px ;
    background-color: #e6dbf165;
}

/* .bl{
    display:none;
} */
.image {
    height: 140px;
    width: 100%;
}

.imgClass {
    height: 140px;
    width: 100%;
}

.weather {
    margin: 5px;
    /* background-color: rgb(106, 215, 255); */
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}

.minValues,
.maxValues {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    height: 25px;
    width: 85px;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 5px;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .icons {
        flex: 0 0 calc(50% - 40px);
    }
}

/* footer {
    width: 100%;
    position: fixed;
} */
/* body{
    background: #eef8ff
} */


footer{
    width: 100%;
    position: absolute;
    top: 800px;
    background: linear-gradient(to right, #00093c, #2d0b00);

    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
}

.row{
    width: 85%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.logo{
    width: 80px;
    margin-bottom: 30px;
}

.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

ul li a{
    text-decoration: none;
    color: #fff;
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .far{
    font-size: 18px;
    margin-right: 10px;
}

form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}
form button{
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
}
form button .fa-solid{
    font-size: 16px;
    color: #ccc;
}
.social-icons .fab{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.copyright{
    text-align: center;
}
.underline{
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow:hidden;
    margin-top: 10px;
}
.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving {
  0% {left: 20%;}
  100% {left: 100%;}
}
@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;
    }
    .col:nth-child(2), .col:nth-child(3){
        flex-basis: 100%;
    }
} 
#link{
    margin-left: 40px;
}



/* body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: #03020e;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: white;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s; /* Add a smooth transition effect */


/* Change color on hover */
/* nav a:hover {
    color: #ffd700; /* Change to your desired hover color */


/* Media query for smaller screens 
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        margin-top: 10px;
    }

    nav li {
        margin: 0;
        margin-bottom: 10px;
    }
} */

.btn-outline-primary{
    padding:10px 30px;
    border-radius: 50px;
}

#inputContainer{
    display: flex;
    font-size: x-large;
    font-family: sans-serif;
}
#cityInput{
    height: 50px;
    border-radius: 8px;
    border:solid 5px  rgb(201, 208, 67) ;
    font-size: x-large;
    color:darkslategray;
}

/* Reset some default styles */
button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    background: transparent;
  }
  
 
  
  /* Style for the search input */
  #cityInput {
    padding: 8px;
    width: 400px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    outline: none;
  }
  
  /* Style for the search button with class name */
  #button {
    background-color: #4285f4; /* Google Blue */
    color: #ffffff;
    border-radius: 24px;
    padding: 8px 16px;
    margin-left: -1px; /* To slightly overlap the input border */
    border: 1px solid #4285f4;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Hover effect */
  #button:hover {
    background-color: #8091b7; /* Slightly darker shade on hover */
  }
 #inputContainer{
    position: relative;
    position: absolute;
    top: 12%;
 }
 .search{
    display: flex;
    position: relative;
    position: absolute;
    top: 11%;
    right:34%;
    gap: 14px;
 }
 #cityName{
    display: flex;
    align-items: center;
    position: relative;
    position: absolute;
    top: 24%;
    right:45%;
 }

 .containerweather{
    display: none;
 }
 #aqi-container {
    text-align: center;
    margin-top: -150px;
    margin-right: 600px;
}

#aqi-circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 30%;
    background: radial-gradient(transparent 50%, #ccc 50%); /* Transparent center with default color outer circle */
    line-height: 100px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

/* Color variations based on AQI levels */
#aqi-circle.good {
    background: radial-gradient(transparent 50%, #00cc00 50%); /* Green for good air quality */
}

#aqi-circle.moderate {
    background: radial-gradient(transparent 50%, #ffcc00 50%); /* Yellow for moderate air quality */
}

#aqi-circle.unhealthy {
    background: radial-gradient(transparent 50%, #ff3300 50%); /* Red for unhealthy air quality */
}


.read-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4b0082; /* Dark Purple */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    position: relative;
    left: 40%;
}

.read-more-button:hover {
    background-color: #2a0050; /* Darker Purple on hover */
}

#local{
    width: 400px;
    height: 400px;
    background-color: #bcd6dc;
    position: absolute;
    top: 230px;
    left: 590px;
    border: 4px solid #7dd7f6;
    border-radius: 40px;
    text-align: center;
    font-size:xx-large;
}
.block{
    display: none;
}
img{
    border-radius: 40px;
}
#location{
    position: absolute;
    top: 100px;
    right: 20px;
}
#locate{
    width: 100px;
}
#preloader{
    background:#ffffff url(images/dgaeigdiuea.gif) no-repeat center center;
    background-size: 25%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

